body{
    background: rgb(red
    );
/*selectores basicos*/
/*por etiqueta*/

body {
    background: #FFFDD0; /*color crema para todo el fondo de la pagina*/
}

p{
    color:blue; /*esta propiedad es para darle color al contenido*/
}
.boton{
    background: red;
}
/* por atributo*/
input[type="text"]{
    color: brown;
}
/*combinado: hijo directo*/
nav > a{
    text-decoration: none; /* propiedad para quitar el subrarado de las etiquetas a */
}

/* MODELO DE CAJA*/
div {
    background: pink;
    width: 50%; /*ancho del elemento*/
    height: 40px; /*alto del elemento*/

    /* padding se usa para el espacio que debe tener el contenido dentro de la caja*/
    padding-top: 5px;
    padding-left: 10px;

    /*padding :5px; esto le dara 5 pixeles a los 4 lados del padding */
    border-radius: 8px; /*esquinas redondeadas*/
    border: 2px solid black; /**/

    margin: 20px;
    
    }
}
 /*COLORES. FUENTE Y ESTILO*/
 /*COLORES*/
 .color-hexa{
   color: #a3fb2b;
 }
 .color-rgb{
   color:rgb(251,43,217); /*cada valor se relaciona posicionalmente a las letras y sus 
   valores van del 0-255*/
 }
 .color-trans{
   color:rgba(251,43,217,0.5);
 }

 /*FUENTE*/
 .fuente-estilizada{
   font-family:'Black Ops One',Verdana, sans-serif;
   font-size: 1em; /*tamaño a la fuente, 1 em equivale a 12px*/
   font-weight: 900; /*especificar el grosor de la linea de la fuente sus valores van de 
   del 100-900 se relaciona con el estilo negrita siendo 900 ms negrita y 100 la linea mas delgada*/
   line-height: 2;/*espacios entre lineas*/

 }
 .text-transfor{
    text-align: center;
    text-decoration:4px  underline dashed red;
    text-transform: capitalize; /*tenermos las propiedades uppercase(mayuscula) lower case(minuscula)*/

 }